mixin jus(col, classes, title, titleColor="",price, img="https://via.placeholder.com/168x210")
    div(class=col)
        div(class=classes)
            img(src=img alt="")
            h2(class=titleColor)= title
            h3= price